body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
}

h1,
h2 {
  text-align: center;
  margin: 0;
}

.graph-svg-component {
  background-color: white;
  display: block;
  margin: auto;
}

.axis {
  font: 15px Arial, sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #3a3a3a;
}
